apiVersion: apps/v1
kind: Deployment
metadata:
  name: logger-deployment
  namespace: logger
  labels:
    app: logger-deployment
spec:
  replicas: 3
  progressDeadlineSeconds: 20
  selector:
    matchLabels:
      app: logger-deployment
  template:
    metadata:
      labels:
        app: logger-deployment
    spec:
      volumes:
        - name: logger-pv-storage
          persistentVolumeClaim:
            claimName: logger-pv-claim
      containers:
        - name: logger
          imagePullPolicy: Always
          image: jabray5/logger:latest
          resources:
            requests:
              cpu: "120m"
              memory: "100Mi"
          ports:
            - name: loggerport
              containerPort: 8081
          volumeMounts:
            - mountPath: "/shared/"
              name: logger-pv-storage