apiVersion: apps/v1
kind: Deployment
metadata:
  name: logger-deployment
  namespace: logger
  labels:
    app: logger-deployment
spec:
  progressDeadlineSeconds: 20
  selector:
    matchLabels:
      app: logger-deployment
  template:
    metadata:
      labels:
        app: logger-deployment
    spec:
      containers:
        - name: logger
          imagePullPolicy: Always
          image: jabray5/logger:latest
          resources:
            requests:
              cpu: "120m"
              memory: "100Mi"